@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiInputBase-root {
  width: 100%;
}

.MuiInputBase-input {
  animation: none;
  color: rgb(194, 208, 234) !important;
  width: 100%;
  background-color: #2a303c !important;
  height: 2.5rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-size: 0.875rem !important;
  border-radius: var(--rounded-btn, 0.5rem) !important;
  font-size: 0.875rem !important;
}

.custom-hero {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background: linear-gradient(rgba(38, 43, 54, 0.8), rgba(38, 43, 54, 0.8)),
    url('./assets/hero.jpg');
}

.home-cta {
  background: linear-gradient(rgba(38, 43, 54, 0.8), rgba(38, 43, 54, 0.8)),
    url('./assets/hero.jpg');
}
